.Rproj.user
.Rhistory
.RData
.Ruserdata
relevamiento-usos-suelo-2017.cpg
relevamiento-usos-suelo-2017.csvt
relevamiento-usos-suelo-2017.dbf
relevamiento-usos-suelo-2017.prj
relevamiento-usos-suelo-2017.qpj
relevamiento-usos-suelo-2017.shp
relevamiento-usos-suelo-2017.shx
rus_count.xlsx